<main class="store-container">
    <header class="header">
        <h1 class="main-title">Jifiti Store</h1>

        <ul class="filters-list">
            <li class="filter">
                <!--ng-init="priceFilterModel=priceFilters[priceFilters.length - 1].value-->
                <!--<div class="drop-down-container">-->
                    <!--<div class="price-filter-header" ng-click="showPriceFilter = !showPriceFilter">Budget</div>-->

                    <!--<select id="priceFilter" ng-model="priceFilterModel" class="product-filter price-filter">-->
                        <!--<option ng-repeat="price in priceFilters" value="{{ price.value }}">{{ price.displayText }}</option>-->
                    <!--</select>-->

                <!--</div>-->

                <select ng-model="priceFilterModel" class="product-filter price-filter">
                    <option value="0" disabled selected>Budget</option>
                    <option ng-repeat="price in priceFiltersList" value="{{ price.value }}">{{ price.text }}</option>
                </select>

                <select ng-model="genderFilterModel" class="product-filter gender-filter">
                    <option value="0" disabled selected>Gender</option>
                    <option ng-repeat="gender in genderFiltersList" value="{{ gender.value }}">{{ gender.text }}</option>
                </select>
            </li>
        </ul>
    </header>


    <ul class="products-list">
        <li class="product-item" ng-repeat="product in productsList | filter:priceRangeFilter | filter:genderTypeFilter">
            <product-card product="product"></product-card>
        </li>
    </ul>


    <footer class="footer">
        <ul class="footer-menu">
            <li class="menu-item">Select a Gift</li>
            <li class="menu-item">Who is it for?</li>
            <li class="menu-item">Checkout</li>
        </ul>
    </footer>
</main>