<main class="store-container">
    <header class="header">
        <h1 class="main-title">Jifiti Store</h1>

        <ul class="filters-list">
            <li class="filter">
                <!--ng-init="priceFilterModel=priceFilters[priceFilters.length - 1].value-->
                <!--<div class="drop-down-container">-->
                    <!--<div class="price-filter-header" ng-click="showPriceFilter = !showPriceFilter">Budget</div>-->

                    <!--<select id="priceFilter" ng-model="priceFilterModel" class="product-filter price-filter">-->
                        <!--<option ng-repeat="price in priceFilters" value="{{ price.value }}">{{ price.displayText }}</option>-->
                    <!--</select>-->

                <!--</div>-->

                <!--<div class="drop-down-container">-->
                    <!--<select id="genderFilter" ng-model="genderFilterModel" class="product-filter gender-filter">-->
                        <!--<option ng-repeat="gender in genderFilters" value="{{ gender.value }}">{{ gender.displayText }}</option>-->
                    <!--</select>-->
                <!--</div>-->

                <select ng-model="priceFilterMod" class="product-filter price-filter">
                    <option ng-repeat="price in priceFiltersList" value="{{ price.value }}">{{ price.text }}</option>
                </select>

                <select ng-model="genderFilterMod" class="product-filter gender-filter">
                    <option ng-repeat="gender in genderFiltersList" value="{{ gender.value }}">{{ gender.text }}</option>
                </select>
            </li>
        </ul>
    </header>


    <ul class="products-list">
        <li class="product-item" ng-repeat="product in productsList | filter:priceRangeFilter | filter:genderTypeFilter">
            <div class="image-container">
                <img class="product-image" src="{{ product.image }}" alt="{{ product.title }}">
            </div>
            <h4 class="product-store">{{ product.storeName }}</h4>
            <p class="product-price">{{ product.priceLabel}}</p>
            <h5 class="product-title">{{ product.title }}</h5>
        </li>
    </ul>
</main>
