/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


/* CSS Reset */
ul {
  list-style: none;
  padding: 0;
}

h4, h5 {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

/* Main Styles */
.store-container {
  width: 86%;
  margin: 0 auto;
}

.stores-list {
  display: inline-block;
  vertical-align: top;
}

.product-item {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  /*height: 100px;*/
  /*overflow: hidden;*/
}

.product-store,
.product-title {
  text-align: center;
}

.image-container {
  width: 180px;
}

.product-image {
  width: 100%;
}

option[value="? undefined:undefined ?"] {
  display:none;
}